<img style="width: 600px" src="https://thumbor.thedailymeal.com/vr2fTj7bSk16AQ3ataGohNdhCtM=//https://www.thedailymeal.com/sites/default/files/story/2016/disney%20main.jpg">
<h1>Welcome to the Amusement Park</h1>