<div class="container">
    <h1>Editing attraction</h1>

        <%= render partial: 'form', locals: {attraction: @attraction} %>

     

<%= link_to 'Show', @user, class:"edit-attraction" %> | <%= link_to 'Back', attractions_path, class:"edit-attraction" %>

</div>

