<div class="info">
<h3>Attractions</h3>
<% if current_user.admin %>

    <% @attractions.each do |attr| %>
        <li><%= link_to "Show #{attr.name}", attraction_path(attr)  %></li>
    <%end%>
    <br>
    <strong> <%= link_to "New Attraction", new_attraction_path  %></strong>

<% else %>

    <% @attractions.each do |attr| %>
        <li>  <%= link_to "Go on #{attr.name}", attraction_path(attr) %></li><br>
    <% end %>

<%end%>

</div>